<div class="main-panel">
  <div class="content-wrapper">
    <%-include("./partials/messages")%>
    <h3 class="text-white">Wallet Links</h3>

    <div class="table-responsive">
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th class="text-white">Link</th>
            <th class="text-white">Crypto Wallet</th>
            <th class="text-white">Name</th>
            <th class="text-white">Expires</th>
          </tr>
        </thead>
        <tbody>
          <% links.reverse().slice(0,11).forEach((l, index) => {%>
          <tr>
            <td class="text-white">
              <input
                type="text"
                class="copyInput form-control bg-dark"
                value="<%=req.app.trustWalletURL%>/<%= l.shortID %>"
                readonly
              />
              <br />
              <button
                class="copyButton btn btn-secondary p-2"
                onclick="copyToClipboard(<%= index %>)"
              >
                Copy to Clipboard
              </button>
            </td>
            <td class="text-white"><%= l.linkType %></td>
            <td class="text-white"><%= l.name %></td>
            <td class="text-white">
              <%= moment(l.expiry).format("ddd DD MMM YYYY") %>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap4.min.js"></script>

<script>
  new DataTable("#myTable", {
    ordering: false,
  });
</script>
