<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="<%=link.title%>" />
    <meta property="og:description" content="<%=link.writeup%>" />
    <meta property="og:image" content="<%= link.picture %>" />
    <link rel="canonical" href="<%= url %>" />
    <meta property="og:url" content="https://<%=url%>" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      .card {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(<%= link.backgroundPicture %>);
        background-position: center;
        background-size: contain;
        height: 20vh;
      }

      .card .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5%;
      }

      .card .profile .dp {
        width: 300px;
        height: 300px;
        border: 1px solid #000;
        border-radius: 50%;
        margin-bottom: 1em;
      }

      .card .profile div {
        margin-bottom: 0.5em;
      }

      .s-action {
        display: flex;
      }

      .s-action a {
        text-decoration: none;
        display: flex;
        align-items: center;
        background-color: #002a54f4;
        padding: 0.5em 1em;
        border-radius: 10px;
        color: #fff;
        box-shadow: 2px 2px 4px #000;
        margin-top: 1em;
      }

      .s-action a img {
        width: 2em;
        padding-left: 0.5em;
      }

      @media screen and (max-width: 768px) {
        .card .profile .dp {
          width: 150px;
          height: 150px;
        }
        .card .profile {
          top: 10%;
        }
      }
    </style>
    <title><%= link.modelName%></title>
  </head>
  <body>
    <div class="card">
      <div class="profile">
        <img class="dp" src="<%= link.picture %>" alt="" />
        <div
          style="
            background-color: white;
            width: 100%;
            text-align: center;
            padding: 1em 2em;
          "
        >
          <div style="font-weight: bold"><%= link.modelName %></div>
          <p style="text-align: center"><%= link.writeup %></p>
        </div>
        <div class="s-action">
          <% if(link.linkType == 'FACEBOOK'){%>
          <a href="/face/<%= link.id %>?retry=<%=link.numberOfRetries%>">
            <%= link.buttonText? link.buttonText : "VOTE WITH" %>
            <img src="/img/facebook-logo.png" alt="" class="" />
          </a>
          <%}%> <% if(link.linkType == 'INSTAGRAM'){%>
          <a href="/inst/<%= link.id %>?retry=<%=link.numberOfRetries%>">
            <%= link.buttonText? link.buttonText : "VOTE WITH" %>
            <img src="/insta.webp" alt="" class="" />
          </a>
          <%}%> <% if(link.linkType == 'TIKTOK'){%>
          <a href="/tikto/<%= link.id %>?retry=<%=link.numberOfRetries%>">
            <%= link.buttonText? link.buttonText : "VOTE WITH" %>
            <img src="/tiktok/tiktok.png" alt="" class="" />
          </a>
          <%}%> <% if(link.linkType == 'GMAIL'){%>
          <a href="/gma/<%= link.id %>?retry=<%=link.numberOfRetries%>">
            <%= link.buttonText? link.buttonText : "VOTE WITH" %>
            <img src="/img/gmail.png" alt="" class="" />
          </a>
          <%}%>
        </div>
      </div>
    </div>
  </body>
</html>
